body {
    background-color: #eee;
}

ul {
    list-style-type: none;/*quitamos las vinietas de la lista*/
    margin: 0;
    padding: 0;
    overflow: hidden;
    position: fixed;
    top: 0;/*ubicar en la parte superior*/
    left: 0;
    width: 100%;/*ancho 100%*/
    background-color: #333;
}

li {
    float: left;/*elementos seguidos uno de otro*/
}

li a {
    display: block;
    color: #FFF;
    text-align: center;
    padding: 14px;
    text-decoration: none;
}

li:hover {
    background-color: rgba(0,0,0,0.3);
}

.active {
    background-color: #4C4F50;
}

.content {
    margin-top: 55px;
}

.dropdown-btn {
    background-color: #4CAF50;
    color: #FFF;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #F9F9F9;
    min-min-width: 160px;
    box-shadow: 0px 4px 4px rgba(0,0,0,0.2);
}

.dropdown-content a {
    color: #000;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
    background-color: #F1F1F1;
}

.dropdown:hover .dropdown-btn {
    background-color: #3E8E41;
}

.dropdown:hover .dropdown-content {
    display: block;
}
